@{
    ViewData["Title"] = "LogIn";
}

@model User

<div class="container mt-5 g-0">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-8 col-lg-6 rounded p-5 shadow-lg">
            <h1 class="mb-3 text-center">Log in</h1>
            <form method="post" asp-controller="Home" asp-action="LogIn">
                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.Name">User name</label>
                    <input type="text" asp-for="@Model.Name" class="form-control" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <div class="mb-3 text-center">
                    <button type="submit" class="btn btn-outline-primary w-50 p-2 fs-5">Log in</button>
                </div>
            </form>
        </div>
    </div>
</div>

